Repository shakacode/react_on_rails-demos: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-newline, rubocop

Path conditions:
  trailing-newline: any of: *.{rb,js,ts,jsx,tsx,yml,yaml,json,md,sh}
  rubocop: any of: *.rb

Changes auto-committed by Conductor
  demos/basic-v16-webpack/Gemfile
  demos/basic-v16-webpack/Gemfile.lock
  demos/basic-v16-webpack/bin/shakapacker
  demos/basic-v16-webpack/bin/shakapacker-dev-server
  demos/basic-v16-webpack/config/shakapacker-builds.yml
  demos/basic-v16-webpack/lib/tasks/e2e.rake
  demos/basic-v16-webpack/package-lock.json
  demos/basic-v16-webpack/package.json
  demos/basic-v16-webpack/shakapacker-config-exports/webpack-dev-client.yaml
  demos/basic-v16-webpack/shakapacker-config-exports/webpack-dev-hmr-client.yaml
  demos/basic-v16-webpack/shakapacker-config-exports/webpack-dev-server.yaml
  demos/basic-v16-webpack/shakapacker-config-exports/webpack-prod-client.yaml
  demos/basic-v16-webpack/shakapacker-config-exports/webpack-prod-server.yaml
Due: trailing-newline

Changes auto-committed by Conductor (#63)
  demos/basic-v16-webpack/Gemfile
  demos/basic-v16-webpack/Gemfile.lock
  demos/basic-v16-webpack/bin/shakapacker
  demos/basic-v16-webpack/bin/shakapacker-dev-server
  demos/basic-v16-webpack/config/shakapacker-builds.yml
  demos/basic-v16-webpack/lib/tasks/e2e.rake
  demos/basic-v16-webpack/package-lock.json
  demos/basic-v16-webpack/package.json
  demos/basic-v16-webpack/shakapacker-config-exports/webpack-dev-client.yaml
  demos/basic-v16-webpack/shakapacker-config-exports/webpack-dev-hmr-client.yaml
  demos/basic-v16-webpack/shakapacker-config-exports/webpack-dev-server.yaml
  demos/basic-v16-webpack/shakapacker-config-exports/webpack-prod-client.yaml
  demos/basic-v16-webpack/shakapacker-config-exports/webpack-prod-server.yaml
Due: trailing-newline

Add .rspec_status to gitignore
  .gitignore
Due: none

Implement core functionality for swap-shakacode-deps gem (#55)
  .gitignore
  swap-shakacode-deps-implementation-plan.md
  swap-shakacode-deps/.gitignore
  swap-shakacode-deps/.rspec
  swap-shakacode-deps/.rubocop.yml
  swap-shakacode-deps/.swap-deps.yml.example
  swap-shakacode-deps/CHANGELOG.md
  swap-shakacode-deps/Gemfile
  swap-shakacode-deps/Gemfile.lock
  swap-shakacode-deps/IMPLEMENTATION_STATUS.md
  swap-shakacode-deps/LICENSE
  swap-shakacode-deps/QUICK_FIX.md
  swap-shakacode-deps/README.md
  swap-shakacode-deps/Rakefile
  swap-shakacode-deps/TESTING_AND_NEXT_STEPS.md
  swap-shakacode-deps/USAGE_EXAMPLES.md
  swap-shakacode-deps/bin/swap-shakacode-deps
  swap-shakacode-deps/lib/swap_shakacode_deps.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/backup_manager.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/cache_manager.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/cli.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/config_loader.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/error.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/gem_swapper.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/github_spec_parser.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/npm_swapper.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/swapper.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/version.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/watch_manager.rb
  swap-shakacode-deps/spec/backup_manager_spec.rb
  swap-shakacode-deps/spec/gem_swapper_spec.rb
  swap-shakacode-deps/spec/npm_swapper_spec.rb
  swap-shakacode-deps/spec/spec_helper.rb
  swap-shakacode-deps/swap-shakacode-deps.gemspec
  test-swap-gem.rb
Due: trailing-newline, rubocop

Update basic-v16-webpack demo to use shakapacker 9.0.0.beta.5
  .new-demo-versions
  demos/basic-v16-webpack/Gemfile
  demos/basic-v16-webpack/Gemfile.lock
  demos/basic-v16-webpack/Rakefile
  demos/basic-v16-webpack/app/controllers/hello_world_controller.rb
  demos/basic-v16-webpack/app/mailers/application_mailer.rb
  demos/basic-v16-webpack/bin/brakeman
  demos/basic-v16-webpack/bin/bundle
  demos/basic-v16-webpack/bin/dev
  demos/basic-v16-webpack/bin/rails
  demos/basic-v16-webpack/bin/rake
  demos/basic-v16-webpack/bin/rubocop
  demos/basic-v16-webpack/bin/setup
  demos/basic-v16-webpack/bin/shakapacker
  demos/basic-v16-webpack/bin/shakapacker-dev-server
  demos/basic-v16-webpack/bin/thrust
  demos/basic-v16-webpack/config.ru
  demos/basic-v16-webpack/config/application.rb
  demos/basic-v16-webpack/config/boot.rb
  demos/basic-v16-webpack/config/environment.rb
  demos/basic-v16-webpack/config/environments/development.rb
  demos/basic-v16-webpack/config/environments/production.rb
  demos/basic-v16-webpack/config/environments/test.rb
  demos/basic-v16-webpack/config/initializers/assets.rb
  demos/basic-v16-webpack/config/initializers/cypress_on_rails.rb
  demos/basic-v16-webpack/config/initializers/react_on_rails.rb
  demos/basic-v16-webpack/config/puma.rb
  demos/basic-v16-webpack/config/routes.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/activerecord_fixtures.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/clean.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/log_fail.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/scenarios/basic.rb
  demos/basic-v16-webpack/e2e/playwright/e2e_helper.rb
  demos/basic-v16-webpack/lib/tasks/e2e.rake
  demos/basic-v16-webpack/package-lock.json
  demos/basic-v16-webpack/package.json
  demos/basic-v16-webpack/test/test_helper.rb
Due: trailing-newline, rubocop

Fix swap-deps to handle missing reference directories gracefully
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Allow re-swapping between different paths and branches
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Address code review feedback
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Fix critical issue: Add git: and ref: to regex stripping
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Refactor and improve code quality based on review feedback
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Fix swap-deps to handle missing reference directories gracefully (#64)
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Fix linting configuration for demo apps
  demos/basic-v16-rspack/.eslintrc.js
  demos/basic-v16-rspack/.rubocop.yml
  demos/basic-v16-rspack/app/javascript/src/HelloWorld/ror_components/HelloWorld.client.jsx
  demos/basic-v16-rspack/config/webpack/development.js
  demos/basic-v16-rspack/config/webpack/serverWebpackConfig.js
  demos/basic-v16-rspack/config/webpack/webpack.config.js
  demos/basic-v16-rspack/package-lock.json
  demos/basic-v16-rspack/package.json
  demos/basic-v16-webpack/.eslintrc.js
  demos/basic-v16-webpack/.rubocop.yml
  demos/basic-v16-webpack/app/javascript/src/HelloWorld/ror_components/HelloWorld.client.jsx
  demos/basic-v16-webpack/config/webpack/development.js
  demos/basic-v16-webpack/config/webpack/serverWebpackConfig.js
  demos/basic-v16-webpack/config/webpack/webpack.config.js
  demos/basic-v16-webpack/e2e/playwright/e2e/rails_examples/using_scenarios.spec.js
  demos/basic-v16-webpack/e2e/playwright/support/on-rails.js
  demos/basic-v16-webpack/package-lock.json
  demos/basic-v16-webpack/package.json
  packages/shakacode_demo_common/configs/.eslintrc.js
  packages/shakacode_demo_common/configs/rubocop.yml
Due: trailing-newline

Simplify RuboCop config - inherit directly from rubocop-rails-omakase
  demos/basic-v16-rspack/.rubocop.yml
  demos/basic-v16-rspack/bin/switch-bundler
  demos/basic-v16-rspack/config/environments/production.rb
  demos/basic-v16-webpack/.rubocop.yml
  demos/basic-v16-webpack/config/environments/production.rb
  packages/shakacode_demo_common/configs/rubocop.yml
Due: trailing-newline, rubocop

Fix Playwright test formatting
  demos/basic-v16-webpack/e2e/playwright/e2e/rails_examples/using_scenarios.spec.js
Due: trailing-newline

Add ESLint and Prettier to pre-commit hooks
  lefthook.yml
Due: trailing-newline

Fix RuboCop violations in demo apps (#66)
  demos/basic-v16-rspack/.eslintrc.js
  demos/basic-v16-rspack/.rubocop.yml
  demos/basic-v16-rspack/app/javascript/src/HelloWorld/ror_components/HelloWorld.client.jsx
  demos/basic-v16-rspack/bin/switch-bundler
  demos/basic-v16-rspack/config/environments/production.rb
  demos/basic-v16-rspack/config/webpack/development.js
  demos/basic-v16-rspack/config/webpack/serverWebpackConfig.js
  demos/basic-v16-rspack/config/webpack/webpack.config.js
  demos/basic-v16-rspack/package-lock.json
  demos/basic-v16-rspack/package.json
  demos/basic-v16-webpack/.eslintrc.js
  demos/basic-v16-webpack/.rubocop.yml
  demos/basic-v16-webpack/app/javascript/src/HelloWorld/ror_components/HelloWorld.client.jsx
  demos/basic-v16-webpack/config/environments/production.rb
  demos/basic-v16-webpack/config/webpack/development.js
  demos/basic-v16-webpack/config/webpack/serverWebpackConfig.js
  demos/basic-v16-webpack/config/webpack/webpack.config.js
  demos/basic-v16-webpack/e2e/playwright/e2e/rails_examples/using_scenarios.spec.js
  demos/basic-v16-webpack/e2e/playwright/support/on-rails.js
  demos/basic-v16-webpack/package-lock.json
  demos/basic-v16-webpack/package.json
  lefthook.yml
  packages/shakacode_demo_common/configs/.eslintrc.js
Due: trailing-newline, rubocop

Run Prettier on webpack demo files
  demos/basic-v16-webpack/README.md
  demos/basic-v16-webpack/babel.config.js
  demos/basic-v16-webpack/config/webpack/clientWebpackConfig.js
  demos/basic-v16-webpack/config/webpack/commonWebpackConfig.js
  demos/basic-v16-webpack/config/webpack/development.js
  demos/basic-v16-webpack/config/webpack/generateWebpackConfigs.js
  demos/basic-v16-webpack/config/webpack/production.js
  demos/basic-v16-webpack/config/webpack/serverWebpackConfig.js
  demos/basic-v16-webpack/config/webpack/test.js
  demos/basic-v16-webpack/config/webpack/webpack.config.js
  demos/basic-v16-webpack/e2e/playwright.config.js
  demos/basic-v16-webpack/e2e/playwright/support/index.js
  demos/basic-v16-webpack/e2e/playwright/support/on-rails.js
  demos/basic-v16-webpack/playwright.config.ts
Due: trailing-newline

Update both demos to shakapacker 9.3.0
  CLAUDE.md
  demos/basic-v16-rspack/Gemfile
  demos/basic-v16-rspack/Gemfile.lock
  demos/basic-v16-rspack/package-lock.json
  demos/basic-v16-rspack/package.json
  demos/basic-v16-webpack/Gemfile
  demos/basic-v16-webpack/Gemfile.lock
  demos/basic-v16-webpack/package-lock.json
  demos/basic-v16-webpack/package.json
Due: trailing-newline

Revert quote style changes in Ruby files
  demos/basic-v16-webpack/app/controllers/hello_world_controller.rb
  demos/basic-v16-webpack/app/mailers/application_mailer.rb
  demos/basic-v16-webpack/config/application.rb
  demos/basic-v16-webpack/config/boot.rb
  demos/basic-v16-webpack/config/environment.rb
  demos/basic-v16-webpack/config/environments/development.rb
  demos/basic-v16-webpack/config/environments/production.rb
  demos/basic-v16-webpack/config/environments/test.rb
  demos/basic-v16-webpack/config/initializers/assets.rb
  demos/basic-v16-webpack/config/initializers/cypress_on_rails.rb
  demos/basic-v16-webpack/config/initializers/react_on_rails.rb
  demos/basic-v16-webpack/config/puma.rb
  demos/basic-v16-webpack/config/routes.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/activerecord_fixtures.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/clean.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/log_fail.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/scenarios/basic.rb
  demos/basic-v16-webpack/e2e/playwright/e2e_helper.rb
  demos/basic-v16-webpack/lib/tasks/e2e.rake
  demos/basic-v16-webpack/test/test_helper.rb
Due: trailing-newline, rubocop

Revert quote changes in binstubs and config files
  demos/basic-v16-webpack/Rakefile
  demos/basic-v16-webpack/bin/brakeman
  demos/basic-v16-webpack/bin/bundle
  demos/basic-v16-webpack/bin/dev
  demos/basic-v16-webpack/bin/rails
  demos/basic-v16-webpack/bin/rake
  demos/basic-v16-webpack/bin/rubocop
  demos/basic-v16-webpack/bin/setup
  demos/basic-v16-webpack/bin/shakapacker
  demos/basic-v16-webpack/bin/shakapacker-dev-server
  demos/basic-v16-webpack/bin/thrust
  demos/basic-v16-webpack/config.ru
Due: none

Update .new-demo-versions to shakapacker 9.3.0
  .new-demo-versions
Due: none

Fix inconsistent quote style in Gemfile
  demos/basic-v16-webpack/Gemfile
Due: none

Use caret (^) version constraint for shakapacker in package.json
  demos/basic-v16-rspack/package-lock.json
  demos/basic-v16-rspack/package.json
  demos/basic-v16-webpack/package-lock.json
  demos/basic-v16-webpack/package.json
Due: trailing-newline

Update both demos to shakapacker 9.3.0 (#62)
  .new-demo-versions
  CLAUDE.md
  demos/basic-v16-rspack/Gemfile
  demos/basic-v16-rspack/Gemfile.lock
  demos/basic-v16-rspack/package-lock.json
  demos/basic-v16-rspack/package.json
  demos/basic-v16-webpack/Gemfile
  demos/basic-v16-webpack/Gemfile.lock
  demos/basic-v16-webpack/package-lock.json
  demos/basic-v16-webpack/package.json
Due: trailing-newline

Research: Vite+Rails+React SSR examples and Inertia conversion plan
  INERTIA_TO_REACT_ON_RAILS_CONVERSION_PLAN.md
  VITE_RAILS_REACT_SSR_EXAMPLES.md
Due: trailing-newline

Add SSR conversion strategy docs and demo scaffolds
  MIGRATION_PR_STRATEGY.md
  NEW_REPO_STRATEGY.md
  NEXT_STEPS.md
  RECOMMENDATION_RSC.md
  REPO_COMPARISON.md
  SSR_CONVERSION_CANDIDATES.md
  SSR_CONVERSION_CANDIDATES_2024.md
  create_new_repo.sh
  demos/README.md
  demos/README_2024.md
  demos/basic-ssr-patterns/README.md
  demos/blog-cms-ssr/README.md
  demos/docker-ssr-deployment/README.md
  demos/ecommerce-admin-ssr/README.md
  demos/ecommerce-platform-ssr/README.md
  demos/enterprise-dashboard-ssr/README.md
  demos/graphql-ssr-modernization/README.md
  demos/inertia-migration/README.md
  demos/redux-ssr-modernization/README.md
  demos/shadcn-ui-ssr-modern/CONVERSION_PLAN.md
  demos/shadcn-ui-ssr-modern/KEY_DIFFERENCES.md
  demos/shadcn-ui-ssr-modern/README.md
  demos/vite-rails-ssr-upgrade/README.md
  setup_2024_demos.sh
  setup_demo_directories.sh
Due: trailing-newline

Add atomic issues for Hacker News RSC demo
  hn-rsc-issues.md
Due: trailing-newline

Add mise-exec wrapper for Conductor compatibility
  .rubocop.yml
  CLAUDE.md
  bin/mise-exec
Due: trailing-newline

Add error handling for missing mise installation
  bin/mise-exec
Due: none

Add mise-exec wrapper for Conductor compatibility (#106)
  .rubocop.yml
  CLAUDE.md
  bin/mise-exec
Due: trailing-newline

Rename bin/mise-exec to bin/conductor-exec with version manager support
  .rubocop.yml
  CLAUDE.md
  bin/conductor-exec
  bin/mise-exec
  conductor-setup.sh
  conductor.json
Due: trailing-newline

Rename bin/mise-exec to bin/conductor-exec with version manager support (#107)
  .rubocop.yml
  CLAUDE.md
  bin/conductor-exec
  bin/mise-exec
  conductor-setup.sh
  conductor.json
Due: trailing-newline

Create TanStack Router routes and SSR components
  demos/basic-v16-rspack-tanstack/app/javascript/src/TanStackApp/ror_components/TanStackApp.client.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/TanStackApp/ror_components/TanStackApp.server.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/router.ts
  demos/basic-v16-rspack-tanstack/app/javascript/src/routes/__root.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/routes/about.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/routes/demo/nested.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/routes/demo/nested/deep.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/routes/demo/nested/index.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/routes/index.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/routes/search.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/routes/users/$userId.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/routes/users/index.tsx
Due: trailing-newline

Add TanStack Router dependencies and rspack plugin configuration
  demos/basic-v16-rspack-tanstack/.gitignore
  demos/basic-v16-rspack-tanstack/app/javascript/src/routes/__root.tsx
  demos/basic-v16-rspack-tanstack/config/webpack/clientWebpackConfig.js
  demos/basic-v16-rspack-tanstack/package-lock.json
  demos/basic-v16-rspack-tanstack/package.json
  demos/basic-v16-rspack-tanstack/ssr-generated/manifest.json
  demos/basic-v16-rspack-tanstack/ssr-generated/server-bundle.js
Due: trailing-newline

Add E2E tests for SSR verification
  demos/basic-v16-rspack-tanstack/e2e/tanstack_router.spec.ts
  demos/basic-v16-rspack-tanstack/package-lock.json
  demos/basic-v16-rspack-tanstack/package.json
  demos/basic-v16-rspack-tanstack/playwright.config.ts
Due: trailing-newline

Fix RuboCop violations in switch-bundler script
  demos/basic-v16-rspack-tanstack/bin/switch-bundler
Due: none

Add Rails integration for TanStack Router app
  demos/basic-v16-rspack-tanstack/app/controllers/hello_world_controller.rb
  demos/basic-v16-rspack-tanstack/app/controllers/tanstack_app_controller.rb
  demos/basic-v16-rspack-tanstack/app/views/hello_world/index.html.erb
  demos/basic-v16-rspack-tanstack/app/views/layouts/hello_world.html.erb
  demos/basic-v16-rspack-tanstack/app/views/layouts/tanstack_app.html.erb
  demos/basic-v16-rspack-tanstack/app/views/tanstack_app/index.html.erb
  demos/basic-v16-rspack-tanstack/config/routes.rb
Due: trailing-newline, rubocop

Address code review feedback for TanStack Router demo
  demos/basic-v16-rspack-tanstack/.gitignore
  demos/basic-v16-rspack-tanstack/Gemfile
  demos/basic-v16-rspack-tanstack/Gemfile.lock
  demos/basic-v16-rspack-tanstack/README.md
  demos/basic-v16-rspack-tanstack/app/controllers/application_controller.rb
  demos/basic-v16-rspack-tanstack/app/javascript/src/TanStackApp/ror_components/TanStackApp.client.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/TanStackApp/ror_components/TanStackApp.server.tsx
  demos/basic-v16-rspack-tanstack/app/javascript/src/routes/search.tsx
  demos/basic-v16-rspack-tanstack/app/views/layouts/tanstack_app.html.erb
  demos/basic-v16-rspack-tanstack/bin/dev
  demos/basic-v16-rspack-tanstack/bin/switch-bundler
  demos/basic-v16-rspack-tanstack/config/webpack/serverWebpackConfig.js
  demos/basic-v16-rspack-tanstack/e2e/tanstack_router.spec.ts
  demos/basic-v16-rspack-tanstack/package.json
  demos/basic-v16-rspack-tanstack/ssr-generated/manifest.json
  demos/basic-v16-rspack-tanstack/ssr-generated/server-bundle.js
Due: trailing-newline, rubocop

Fix rubocop pre-commit hook with mise and demo-specific configs
  demos/basic-v16-rspack-tanstack/app/helpers/application_helper.rb
  lefthook.yml
Due: trailing-newline, rubocop
