Repository shakacode/react_on_rails-demos: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-newline, rubocop

lefthook.yml:

# Lefthook configuration for React on Rails Demos monorepo
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    trailing-newline:
      glob: '*.{rb,js,ts,jsx,tsx,yml,yaml,json,md,sh}'
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ]; then
            # Check if file ends with newline
            if [ -n "$(tail -c 1 "$file")" ]; then
              echo "‚ùå Missing trailing newline: $file"
              # Add trailing newline
              echo "" >> "$file"
              git add "$file"
              echo "‚úÖ Added trailing newline to: $file"
            fi
          fi
        done

    rubocop:
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    check-message:
      run: |
        # Ensure commit message is not empty
        if ! grep -q '[^[:space:]]' {1}; then
          echo "‚ùå Commit message cannot be empty"
          exit 1
        fi

pre-push:
  commands:
    check-local-gems:
      run: |
        echo "üîç Checking for local gem paths in Gemfiles and package.json files..."

        # Check for local gem paths in Gemfiles
        if git diff --name-only origin/main...HEAD | grep -E 'Gemfile$' | xargs -I {} git diff origin/main...HEAD -- {} | grep -E '^\+.*gem.*path:'; then
          echo ""
          echo "‚ùå ERROR: Found local gem paths in Gemfile(s)"
          echo ""
          echo "You're trying to push changes with local gem paths (path: '...')."
          echo "This usually means you forgot to restore after using bin/use-local-gems."
          echo ""
          echo "To fix:"
          echo "  1. Run: bin/use-local-gems --restore"
          echo "  2. Or manually edit the Gemfile(s) to use version constraints"
          echo ""
          exit 1
        fi

        # Check for file: protocol in package.json files
        if git diff --name-only origin/main...HEAD | grep -E 'package\.json$' | xargs -I {} git diff origin/main...HEAD -- {} | grep -E '^\+.*"file:'; then
          echo ""
          echo "‚ùå ERROR: Found local file: paths in package.json file(s)"
          echo ""
          echo "You're trying to push changes with local npm package paths (file:...)."
          echo "This usually means you forgot to restore after using bin/use-local-gems."
          echo ""
          echo "To fix:"
          echo "  1. Run: bin/use-local-gems --restore"
          echo "  2. Or manually edit the package.json file(s) to use version constraints"
          echo ""
          exit 1
        fi

        echo "‚úÖ No local gem paths found"

Fix TCPServer resource leak in port_in_use? method
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
Due: trailing-newline, rubocop

Improve test infrastructure robustness (#15)
  .rubocop.yml
  lib/demo_scripts/demo_creator.rb
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
Due: trailing-newline, rubocop

Address edge cases in validation and error handling
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
Due: trailing-newline, rubocop

Fix potential bugs in generator and port checking
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
Due: trailing-newline, rubocop

Improve code clarity and fix minor issues
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
Due: trailing-newline, rubocop

Move helper method to private section
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
Due: trailing-newline, rubocop

Add HTTP timeouts, port polling, and cleanup incomplete implementations (#15) (#25)
  .rubocop.yml
  lib/demo_scripts/demo_creator.rb
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
  packages/shakacode_demo_common/spec/lib/shakacode_demo_common/e2e_test_runner_spec.rb
Due: trailing-newline, rubocop

Code quality improvements for issue #16
  lib/demo_scripts/demo_creator.rb
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
Due: trailing-newline, rubocop

Add test coverage and extract constants
  lib/demo_scripts/demo_creator.rb
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
  spec/demo_scripts/demo_creator_spec.rb
Due: trailing-newline, rubocop

Add test coverage and extract constants
  packages/shakacode_demo_common/spec/lib/generators/shakacode_demo_common/install/install_generator_spec.rb
Due: trailing-newline, rubocop

Code quality improvements (#16) (#33)
  lib/demo_scripts/demo_creator.rb
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
  packages/shakacode_demo_common/spec/lib/generators/shakacode_demo_common/install/install_generator_spec.rb
  spec/demo_scripts/demo_creator_spec.rb
Due: trailing-newline, rubocop

Improve switch-bundler script with npm commands and custom dependencies
  demos/basic-v16-rspack/bin/switch-bundler
Due: none

Add CHANGELOG.md with weekly summaries
  CHANGELOG.md
Due: trailing-newline

Add --help flag to switch-bundler script
  demos/basic-v16-rspack/bin/switch-bundler
Due: none

restore Gemfile
  demos/basic-v16-rspack/Gemfile
Due: none

restore gemfile.lock
  demos/basic-v16-rspack/Gemfile.lock
Due: none

Add error handling and validation to switch-bundler
  demos/basic-v16-rspack/bin/switch-bundler
Due: none

Add GitHub repository support to local gem swapper
  .local-gems.yml.example
  docs/LOCAL_DEVELOPMENT.md
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/local_gems_cli.rb
Due: trailing-newline, rubocop

Improve switch-bundler script with npm commands and custom dependencies (#35)
  CHANGELOG.md
  demos/basic-v16-rspack/bin/switch-bundler
Due: trailing-newline

Add comprehensive RSpec tests for GemSwapper
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Security: Fix command injection vulnerability in git operations
  demos/basic-v16-rspack/package-lock.json
  demos/basic-v16-rspack/package.json
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Improve GitHub syntax: use repo@branch instead of --branch flag
  lib/demo_scripts/local_gems_cli.rb
Due: trailing-newline, rubocop

Add repo@branch syntax support to config file
  .local-gems.yml.example
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Update docs with repo@branch syntax examples
  docs/LOCAL_DEVELOPMENT.md
Due: trailing-newline

Change branch separator from @ to # (npm convention)
  .local-gems.yml.example
  docs/LOCAL_DEVELOPMENT.md
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/local_gems_cli.rb
Due: trailing-newline, rubocop

Revert "Change branch separator from @ to # (npm convention)"
  .local-gems.yml.example
  docs/LOCAL_DEVELOPMENT.md
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/local_gems_cli.rb
Due: trailing-newline, rubocop

Add support for GitHub branches (#) and tags (@)
  .local-gems.yml.example
  docs/LOCAL_DEVELOPMENT.md
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/local_gems_cli.rb
Due: trailing-newline, rubocop

Rename use-local-gems to swap-deps and fix security vulnerabilities
  .gitignore
  .swap-deps.yml.example
  README.md
  bin/swap-deps
  docs/LOCAL_DEVELOPMENT.md
  lib/demo_scripts.rb
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/swap_deps_cli.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Fix critical bugs and improve error handling
  demos/basic-v16-rspack/package-lock.json
  lefthook.yml
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Add local gem development utility (#31)
  .gitignore
  .swap-deps.yml.example
  README.md
  bin/swap-deps
  demos/basic-v16-rspack/Gemfile.lock
  demos/basic-v16-rspack/package-lock.json
  docs/LOCAL_DEVELOPMENT.md
  lefthook.yml
  lib/demo_scripts.rb
  lib/demo_scripts/demo_manager.rb
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/swap_deps_cli.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Fix Bundler syntax for Git tags in swap-deps
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Add cache management commands for swap-deps
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/swap_deps_cli.rb
Due: trailing-newline, rubocop

Add watch mode process management for swap-deps
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/swap_deps_cli.rb
Due: trailing-newline, rubocop

Fix swap-deps to use correct Bundler syntax for Git tags
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Handle edge cases: tags named main/master and master branch default
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Fix killed_count logic to not increment on permission errors
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Address watch process management review comments
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Fix process_running? to correctly handle EPERM
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Improve robustness of watch process management
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Add concrete examples for tag syntax in documentation
  .swap-deps.yml.example
  docs/LOCAL_DEVELOPMENT.md
Due: trailing-newline
