Repository shakacode/react_on_rails-demos: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-newline, rubocop

lefthook.yml:

# Lefthook configuration for React on Rails Demos monorepo
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    trailing-newline:
      glob: '*.{rb,js,ts,jsx,tsx,yml,yaml,json,md,sh}'
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ]; then
            # Check if file ends with newline
            if [ -n "$(tail -c 1 "$file")" ]; then
              echo "❌ Missing trailing newline: $file"
              # Add trailing newline
              echo "" >> "$file"
              git add "$file"
              echo "✅ Added trailing newline to: $file"
            fi
          fi
        done

    rubocop:
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    check-message:
      run: |
        # Ensure commit message is not empty
        if ! grep -q '[^[:space:]]' {1}; then
          echo "❌ Commit message cannot be empty"
          exit 1
        fi

docs: enhance help messages and documentation for demo management commands
  .gitignore
  CONTRIBUTING.md
  README.md
  bin/new-demo
  bin/scaffold-demo
  bin/update-all-demos
  docs/CONTRIBUTING_SETUP.md
Due: trailing-newline

refactor: rename .demo-versions to .new-demo-versions
  .new-demo-versions
  README.md
  bin/new-demo
  docs/VERSION_MANAGEMENT.md
  lib/demo_scripts/config.rb
  scripts/new-demo.sh
  scripts/scaffold-demo.sh
  spec/demo_scripts/config_spec.rb
Due: trailing-newline, rubocop

refactor: rename gem from demo_common to shakacode-demo-common
  lib/demo_scripts/demo_creator.rb
  packages/demo_common/README.md
  packages/demo_common/demo_common.gemspec
  scripts/apply-shared.sh
  scripts/new-demo.sh
  scripts/scaffold-demo.sh
Due: trailing-newline, rubocop

refactor: rename gem from demo_common to shakacode_demo_common
  .rubocop.yml
  CONTRIBUTING.md
  README.md
  lib/demo_scripts/demo_creator.rb
  packages/demo_common/Gemfile
  packages/shakacode_demo_common/.gitignore
  packages/shakacode_demo_common/.npmignore
  packages/shakacode_demo_common/Gemfile
  packages/shakacode_demo_common/README.md
  packages/shakacode_demo_common/RELEASING.md
  packages/shakacode_demo_common/Rakefile
  packages/shakacode_demo_common/config/lefthook.yml
  packages/shakacode_demo_common/config/rubocop.yml
  packages/shakacode_demo_common/configs/.prettierignore
  packages/shakacode_demo_common/configs/eslint.config.js
  packages/shakacode_demo_common/configs/prettier.config.js
  packages/shakacode_demo_common/index.js
  packages/shakacode_demo_common/lefthook.yml
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/templates/github_workflow.yml
  packages/shakacode_demo_common/lib/shakacode_demo_common.rb
  packages/shakacode_demo_common/lib/shakacode_demo_common/railtie.rb
  packages/shakacode_demo_common/lib/shakacode_demo_common/version.rb
  packages/shakacode_demo_common/lib/tasks/shakacode_demo_common.rake
  packages/shakacode_demo_common/package-lock.json
  packages/shakacode_demo_common/package.json
  packages/shakacode_demo_common/playwright/helpers.js
  packages/shakacode_demo_common/shakacode_demo_common.gemspec
  pr_description.md
  scripts/apply-shared.sh
  scripts/bootstrap-all.sh
  scripts/new-demo.sh
  scripts/scaffold-demo.sh
  scripts/test-all.sh
  spec/examples.txt
Due: trailing-newline, rubocop

fix: correct variable expansion for CURRENT_DATE in scaffold-demo.sh
  scripts/scaffold-demo.sh
Due: trailing-newline

refactor: Replace bash scripts with Ruby equivalents
  CONTRIBUTING.md
  README.md
  bin/apply-shared
  bin/bootstrap-all
  bin/test-all
  docs/VERSION_MANAGEMENT.md
  scripts/apply-shared.sh
  scripts/bootstrap-all.sh
  scripts/new-demo.sh
  scripts/scaffold-demo.sh
  scripts/test-all.sh
  scripts/update-all-demos.sh
  spec/examples.txt
Due: trailing-newline

Add Conductor workspace configuration
  conductor-setup.sh
  conductor.json
Due: trailing-newline

fix: Address all code review feedback for Ruby script refactoring
  .rubocop.yml
  bin/apply-shared
  bin/bootstrap-all
  bin/test-all
  lib/demo_scripts.rb
  lib/demo_scripts/command_executor.rb
  lib/demo_scripts/demo_manager.rb
  lib/demo_scripts/package_json_cache.rb
  spec/demo_scripts/command_executor_spec.rb
  spec/demo_scripts/demo_manager_spec.rb
  spec/demo_scripts/package_json_cache_spec.rb
  spec/examples.txt
Due: trailing-newline, rubocop

Add Conductor workspace configuration (#4)
  conductor-setup.sh
  conductor.json
Due: trailing-newline

fix: Eliminate race condition in symlink creation
  bin/apply-shared
Due: none

fix: Address code review feedback for Ruby script refactoring
  lib/demo_scripts/command_executor.rb
  spec/demo_scripts/command_executor_spec.rb
  spec/examples.txt
Due: trailing-newline, rubocop

Update claude_args to specify model version
  .github/workflows/claude-code-review.yml
Due: trailing-newline

refactor: Replace bash scripts with Ruby equivalents (#5)
  .rubocop.yml
  CONTRIBUTING.md
  README.md
  bin/apply-shared
  bin/bootstrap-all
  bin/test-all
  docs/VERSION_MANAGEMENT.md
  lib/demo_scripts.rb
  lib/demo_scripts/command_executor.rb
  lib/demo_scripts/demo_manager.rb
  lib/demo_scripts/package_json_cache.rb
  scripts/apply-shared.sh
  scripts/bootstrap-all.sh
  scripts/new-demo.sh
  scripts/scaffold-demo.sh
  scripts/test-all.sh
  scripts/update-all-demos.sh
  spec/demo_scripts/command_executor_spec.rb
  spec/demo_scripts/demo_manager_spec.rb
  spec/demo_scripts/package_json_cache_spec.rb
  spec/examples.txt
Due: trailing-newline, rubocop

Add Rails gem for demo creation
  Gemfile
  Gemfile.lock
Due: none

Update demo_creator to skip Docker, Kamal, and Solid gems
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

Remove demos/.gitkeep placeholder
  demos/.gitkeep
Due: none

Fix demo_creator to use bundle exec for rails new command
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

Fix demo_creator to run bundle install before db:create
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

Fix command runner to use Dir.chdir for proper bundle context
  lib/demo_scripts/command_runner.rb
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

Fix command runner to use Bundler.with_unbundled_env
  lib/demo_scripts/command_runner.rb
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

Use bin/rails instead of bundle exec rails in demo commands
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

Fix demo installer to handle bundle context in subdirectories (#6)
  Gemfile
  Gemfile.lock
  demos/.gitkeep
  lib/demo_scripts/command_runner.rb
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

fix: Escape bundle context when running rails new
  .new-demo-versions
  lib/demo_scripts/config.rb
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

fix: Use explicit Rails version to bypass bundle context
  bin/new-demo
  bin/scaffold-demo
Due: none

Fix rails new command failing in bundle context (#7)
  .new-demo-versions
  bin/new-demo
  bin/scaffold-demo
  lib/demo_scripts/config.rb
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

feat: Add GitHub branch support for gem versions
  bin/new-demo
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

refactor: Add security and validation improvements to GitHub branch support
  lib/demo_scripts/demo_creator.rb
  spec/demo_scripts/demo_creator_spec.rb
  spec/examples.txt
Due: trailing-newline, rubocop

feat: Auto-build npm packages from GitHub branches
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

fix: Run GitHub npm build after shakapacker install
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

test: Add comprehensive tests for GitHub npm package building
  spec/demo_scripts/demo_creator_spec.rb
  spec/examples.txt
Due: trailing-newline, rubocop

feat: Auto-build and install npm packages from GitHub branches
  lib/demo_scripts/demo_creator.rb
  spec/examples.txt
Due: trailing-newline, rubocop

security: Fix command injection and add input validation
  lib/demo_scripts/demo_creator.rb
  spec/demo_scripts/demo_creator_spec.rb
  spec/examples.txt
Due: trailing-newline, rubocop

chore: Ignore RSpec examples.txt file
  .gitignore
  spec/examples.txt
Due: none

fix: Prevent nested git repositories in demos
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

feat: Validate GitHub branches exist before demo creation
  lib/demo_scripts/demo_creator.rb
  lib/demo_scripts/pre_flight_checks.rb
  spec/demo_scripts/pre_flight_checks_spec.rb
Due: trailing-newline, rubocop

feat: Add GitHub branch support for gem versions (#8)
  .gitignore
  bin/new-demo
  lib/demo_scripts/demo_creator.rb
  lib/demo_scripts/pre_flight_checks.rb
  spec/demo_scripts/demo_creator_spec.rb
  spec/demo_scripts/pre_flight_checks_spec.rb
  spec/examples.txt
Due: trailing-newline, rubocop

Fix command injection vulnerability and improve code quality
  lib/demo_scripts.rb
  lib/demo_scripts/demo_creator.rb
  lib/demo_scripts/github_spec_parser.rb
  lib/demo_scripts/pre_flight_checks.rb
  spec/demo_scripts/pre_flight_checks_spec.rb
Due: trailing-newline, rubocop

Address code review feedback and add comprehensive tests
  lib/demo_scripts/demo_creator.rb
  lib/demo_scripts/github_spec_parser.rb
  lib/demo_scripts/pre_flight_checks.rb
  spec/demo_scripts/demo_creator_spec.rb
  spec/demo_scripts/github_spec_parser_spec.rb
Due: trailing-newline, rubocop

Add cleanup for unnecessary Rails-generated files in demos
  lib/demo_scripts/demo_creator.rb
  spec/demo_scripts/demo_creator_spec.rb
Due: trailing-newline, rubocop

Fix command injection vulnerability and improve code quality (#10)
  lib/demo_scripts.rb
  lib/demo_scripts/demo_creator.rb
  lib/demo_scripts/github_spec_parser.rb
  lib/demo_scripts/pre_flight_checks.rb
  spec/demo_scripts/demo_creator_spec.rb
  spec/demo_scripts/github_spec_parser_spec.rb
  spec/demo_scripts/pre_flight_checks_spec.rb
Due: trailing-newline, rubocop
