Repository shakacode/react_on_rails-demos: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-newline, rubocop

lefthook.yml:

# Lefthook configuration for React on Rails Demos monorepo
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    trailing-newline:
      glob: '*.{rb,js,ts,jsx,tsx,yml,yaml,json,md,sh}'
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ]; then
            # Check if file ends with newline
            if [ -n "$(tail -c 1 "$file")" ]; then
              echo "❌ Missing trailing newline: $file"
              # Add trailing newline
              echo "" >> "$file"
              git add "$file"
              echo "✅ Added trailing newline to: $file"
            fi
          fi
        done

    rubocop:
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    check-message:
      run: |
        # Ensure commit message is not empty
        if ! grep -q '[^[:space:]]' {1}; then
          echo "❌ Commit message cannot be empty"
          exit 1
        fi

Remove spec/examples.txt and add to .gitignore
  packages/shakacode_demo_common/.gitignore
  packages/shakacode_demo_common/spec/examples.txt
Due: none

Improve process cleanup and server readiness checks in E2eTestRunner (#14) (#17)
  packages/shakacode_demo_common/.gitignore
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
  packages/shakacode_demo_common/spec/examples.txt
  packages/shakacode_demo_common/spec/lib/shakacode_demo_common/e2e_test_runner_spec.rb
Due: trailing-newline, rubocop

Fix Playwright install warning by ensuring dependencies are installed first
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

Fix Playwright install warning by ensuring dependencies are installed first (#18)
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

Convert demo from webpack to rspack
  demos/basic-v16/config/rspack/clientWebpackConfig.js
  demos/basic-v16/config/rspack/commonWebpackConfig.js
  demos/basic-v16/config/rspack/development.js
  demos/basic-v16/config/rspack/generateWebpackConfigs.js
  demos/basic-v16/config/rspack/production.js
  demos/basic-v16/config/rspack/rspack.config.js
  demos/basic-v16/config/rspack/serverWebpackConfig.js
  demos/basic-v16/config/rspack/test.js
  demos/basic-v16/config/shakapacker.yml
  demos/basic-v16/package-lock.json
  demos/basic-v16/package.json
  demos/basic-v16/ssr-generated/manifest.json
  demos/basic-v16/ssr-generated/server-bundle.js
Due: trailing-newline

Fix e2e.rake require path for shakacode_demo_common
  demos/basic-v16/app/javascript/generated/server-bundle-generated.js
  demos/basic-v16/app/javascript/packs/generated/HelloWorld.js
  demos/basic-v16/app/javascript/packs/server-bundle.js
  demos/basic-v16/lib/tasks/e2e.rake
  demos/basic-v16/ssr-generated/server-bundle.js
Due: trailing-newline

Unify webpack and rspack configs for easy bundler switching
  demos/basic-v16/config/rspack/clientWebpackConfig.js
  demos/basic-v16/config/rspack/commonWebpackConfig.js
  demos/basic-v16/config/rspack/development.js
  demos/basic-v16/config/rspack/generateWebpackConfigs.js
  demos/basic-v16/config/rspack/production.js
  demos/basic-v16/config/rspack/rspack.config.js
  demos/basic-v16/config/rspack/serverWebpackConfig.js
  demos/basic-v16/config/rspack/test.js
  demos/basic-v16/config/webpack/development.js
  demos/basic-v16/config/webpack/serverWebpackConfig.js
Due: trailing-newline

Add @rspack/plugin-react-refresh for proper React Fast Refresh
  demos/basic-v16/config/webpack/development.js
  demos/basic-v16/package.json
Due: trailing-newline

Fix shakapacker.yml compile setting for development
  demos/basic-v16/config/shakapacker.yml
Due: trailing-newline

Add missing npm install after adding @rspack/plugin-react-refresh
  demos/basic-v16/package-lock.json
Due: trailing-newline

Add generated files to .gitignore and remove from git tracking
  demos/basic-v16/app/javascript/generated/server-bundle-generated.js
  demos/basic-v16/app/javascript/packs/generated/HelloWorld.js
  demos/basic-v16/ssr-generated/manifest.json
  demos/basic-v16/ssr-generated/server-bundle.js
Due: trailing-newline

Add comprehensive webpack/rspack migration documentation and tooling
  demos/basic-v16/.gitignore
  demos/basic-v16/README.md
  demos/basic-v16/app/javascript/src/HelloWorld/ror_components/HelloWorld.client.jsx
  demos/basic-v16/bin/switch-bundler
  demos/basic-v16/docs/webpack-to-rspack-migration.md
Due: trailing-newline

Enhance switch-bundler script with automatic dependency management
  demos/basic-v16/bin/switch-bundler
  demos/basic-v16/docs/webpack-to-rspack-migration.md
Due: trailing-newline

fixes
  demos/basic-v16/README.md
  demos/basic-v16/app/javascript/src/HelloWorld/ror_components/HelloWorld.client.jsx
Due: trailing-newline

Add Rspack-powered React on Rails demo with migration tooling (#20)
  demos/basic-v16/.gitignore
  demos/basic-v16/README.md
  demos/basic-v16/app/javascript/packs/server-bundle.js
  demos/basic-v16/bin/switch-bundler
  demos/basic-v16/config/shakapacker.yml
  demos/basic-v16/config/webpack/development.js
  demos/basic-v16/config/webpack/serverWebpackConfig.js
  demos/basic-v16/docs/webpack-to-rspack-migration.md
  demos/basic-v16/lib/tasks/e2e.rake
  demos/basic-v16/package-lock.json
  demos/basic-v16/package.json
Due: trailing-newline

Add HTTP timeouts, port polling, and cleanup incomplete implementations
  .rubocop.yml
  lib/demo_scripts/demo_creator.rb
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
  packages/shakacode_demo_common/spec/lib/shakacode_demo_common/e2e_test_runner_spec.rb
Due: trailing-newline, rubocop

Add explicit timeout scenario tests for improved coverage
  packages/shakacode_demo_common/spec/lib/shakacode_demo_common/e2e_test_runner_spec.rb
Due: trailing-newline, rubocop

Improve code clarity with explicit returns and documentation
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
Due: trailing-newline, rubocop

Refactor for configurability and improved port checking
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
Due: trailing-newline, rubocop

Use cleanup_between_modes return value and optimize cleanup logic
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
Due: trailing-newline, rubocop

Add timeout integration tests and improve documentation
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
  packages/shakacode_demo_common/spec/lib/shakacode_demo_common/e2e_test_runner_spec.rb
Due: trailing-newline, rubocop

Fix yarn/npm mixing by specifying npm for cypress-on-rails
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
Due: trailing-newline, rubocop

Fix yarn/npm mixing by specifying npm for cypress-on-rails (#32)
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
Due: trailing-newline, rubocop

Improve local development documentation
  demos/basic-v16-rspack/Gemfile
  demos/basic-v16-rspack/Gemfile.lock
  demos/basic-v16-rspack/package-lock.json
  demos/basic-v16-rspack/package.json
  docs/LOCAL_DEVELOPMENT.md
Due: trailing-newline

Add local gem development utility
  .gitignore
  .local-gems.yml.example
  README.md
  bin/use-local-gems
  docs/LOCAL_DEVELOPMENT.md
  lib/demo_scripts.rb
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Refactor bin stub and fix critical bugs
  bin/use-local-gems
  demos/basic-v16-rspack/Gemfile
  lib/demo_scripts.rb
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/local_gems_cli.rb
Due: trailing-newline, rubocop

Fix critical security issues and improve error handling
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Add demos-scratch support and pre-push protection
  bin/use-local-gems
  docs/LOCAL_DEVELOPMENT.md
  lefthook.yml
  lib/demo_scripts/demo_manager.rb
Due: trailing-newline, rubocop

Fix pre-push hook to check only commits being pushed
  lefthook.yml
Due: trailing-newline

Add smart context detection for running from demo directories
  bin/use-local-gems
  demos/basic-v16-rspack/Gemfile
Due: none

Remove unreachable Errno::EADDRINUSE rescue clause
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
Due: trailing-newline, rubocop

Refactor code quality improvements
  lib/demo_scripts/demo_creator.rb
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
Due: trailing-newline, rubocop

Prevent duplicate .gitignore entries in generator
  packages/shakacode_demo_common/lib/generators/shakacode_demo_common/install/install_generator.rb
Due: trailing-newline, rubocop

Address test coverage and code quality improvements
  packages/shakacode_demo_common/lib/shakacode_demo_common/e2e_test_runner.rb
  packages/shakacode_demo_common/spec/lib/shakacode_demo_common/e2e_test_runner_spec.rb
Due: trailing-newline, rubocop
