Repository shakacode/react_on_rails-demos: changes, and which lefthook commands are due for each by the changed paths.
All: trailing-newline, rubocop

lefthook.yml:

# Lefthook configuration for React on Rails Demos monorepo
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    trailing-newline:
      glob: '*.{rb,js,ts,jsx,tsx,yml,yaml,json,md,sh}'
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ]; then
            # Check if file ends with newline
            if [ -n "$(tail -c 1 "$file")" ]; then
              echo "‚ùå Missing trailing newline: $file"
              # Add trailing newline
              echo "" >> "$file"
              git add "$file"
              echo "‚úÖ Added trailing newline to: $file"
            fi
          fi
        done

    rubocop:
      glob: '*.rb'
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    check-message:
      run: |
        # Ensure commit message is not empty
        if ! grep -q '[^[:space:]]' {1}; then
          echo "‚ùå Commit message cannot be empty"
          exit 1
        fi

pre-push:
  commands:
    check-local-gems:
      run: |
        echo "üîç Checking for local gem paths in Gemfiles and package.json files..."

        # Simple approach: check uncommitted/staged changes and recent commits on current branch
        # Compare current branch with its remote tracking branch, or origin/main if no tracking branch
        current_branch=$(git rev-parse --abbrev-ref HEAD)
        remote_branch=$(git rev-parse --abbrev-ref --symbolic-full-name @{u} 2>/dev/null || echo "origin/main")

        # Check for local gem paths in Gemfiles (in commits being pushed)
        if git diff --name-only "$remote_branch"...HEAD 2>/dev/null | grep -qE 'Gemfile$'; then
          if git diff "$remote_branch"...HEAD -- '*/Gemfile' 'Gemfile' 2>/dev/null | grep -qE '^\+.*gem.*path:'; then
            echo ""
            echo "‚ùå ERROR: Found local gem paths in Gemfile(s)"
            echo ""
            echo "You're trying to push changes with local gem paths (path: '...')."
            echo "This usually means you forgot to restore after using bin/swap-deps."
            echo ""
            echo "To fix:"
            echo "  1. Run: bin/swap-deps --restore"
            echo "  2. Or manually edit the Gemfile(s) to use version constraints"
            echo ""
            exit 1
          fi
        fi

        # Check for file: protocol in package.json files (in commits being pushed)
        if git diff --name-only "$remote_branch"...HEAD 2>/dev/null | grep -qE 'package\.json$'; then
          if git diff "$remote_branch"...HEAD -- '*/package.json' 'package.json' 2>/dev/null | grep -qE '^\+.*"file:'; then
            echo ""
            echo "‚ùå ERROR: Found local file: paths in package.json file(s)"
            echo ""
            echo "You're trying to push changes with local npm package paths (file:...)."
            echo "This usually means you forgot to restore after using bin/swap-deps."
            echo ""
            echo "To fix:"
            echo "  1. Run: bin/swap-deps --restore"
            echo "  2. Or manually edit the package.json file(s) to use version constraints"
            echo ""
            exit 1
          fi
        fi

        echo "‚úÖ No local gem paths found"

Fix local path detection to prioritize filesystem paths
  lib/demo_scripts/swap_deps_cli.rb
Due: trailing-newline, rubocop

Add GitHub shorthand syntax and auto-detection to swap-deps
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/swap_deps_cli.rb
Due: trailing-newline, rubocop

Improve --status output: show branch and consolidate display
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Address code quality and security issues
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/swap_deps_cli.rb
Due: trailing-newline, rubocop

Add GitHub shorthand syntax and auto-detection to swap-deps (#56)
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/swap_deps_cli.rb
Due: trailing-newline, rubocop

Fix bundle update after swap-deps
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Fix bundle update after swap-deps (#57)
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Auto-install npm dependencies before building packages
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Auto-install npm dependencies before building packages (#58)
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Fix GitHub ref swapping by cleaning stale Gemfile.lock entries
  lib/demo_scripts/gem_swapper.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Suggest --watch flag in next steps when not using watch mode
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Remove confusing <gem-path> placeholder from next steps
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Add outdated check to --status command
  lib/demo_scripts/gem_swapper.rb
Due: trailing-newline, rubocop

Fix bundler error when running --status from demo directory
  lib/demo_scripts/swap_deps_cli.rb
Due: trailing-newline, rubocop

Allow swap-deps to run from any directory within the project
  lib/demo_scripts/swap_deps_cli.rb
Due: trailing-newline, rubocop

Add --auto-update flag to automatically refresh outdated repos
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/swap_deps_cli.rb
Due: trailing-newline, rubocop

Make auto-update the default for --status
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/swap_deps_cli.rb
Due: trailing-newline, rubocop

Add safety improvements and error handling
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/swap_deps_cli.rb
Due: trailing-newline, rubocop

Fix GitHub ref swapping by cleaning stale Gemfile.lock entries (#59)
  lib/demo_scripts/gem_swapper.rb
  lib/demo_scripts/swap_deps_cli.rb
  spec/demo_scripts/gem_swapper_spec.rb
Due: trailing-newline, rubocop

Implement core functionality for swap-shakacode-deps gem
  swap-shakacode-deps/QUICK_FIX.md
  swap-shakacode-deps/TESTING_AND_NEXT_STEPS.md
  swap-shakacode-deps/lib/swap_shakacode_deps/backup_manager.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/gem_swapper.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/github_spec_parser.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/npm_swapper.rb
Due: trailing-newline, rubocop

Address code review feedback for swap-shakacode-deps gem
  swap-shakacode-deps/.gitignore
  swap-shakacode-deps/.swap-deps.yml.example
  swap-shakacode-deps/CHANGELOG.md
  swap-shakacode-deps/Gemfile.lock
  swap-shakacode-deps/lib/swap_shakacode_deps/backup_manager.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/cache_manager.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/config_loader.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/gem_swapper.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/github_spec_parser.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/npm_swapper.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/swapper.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/watch_manager.rb
  swap-shakacode-deps/swap-shakacode-deps.gemspec
Due: trailing-newline, rubocop

Update USAGE_EXAMPLES.md to clarify watch mode implementation status
  swap-shakacode-deps/USAGE_EXAMPLES.md
Due: trailing-newline

Complete Swapper orchestrator and fix keyword argument issues
  swap-shakacode-deps/lib/swap_shakacode_deps/config_loader.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/swapper.rb
  test-swap-gem.rb
Due: trailing-newline, rubocop

Create swap-shakacode-deps gem structure and documentation
  swap-shakacode-deps-implementation-plan.md
  swap-shakacode-deps/.rubocop.yml
  swap-shakacode-deps/CHANGELOG.md
  swap-shakacode-deps/Gemfile
  swap-shakacode-deps/Gemfile.lock
  swap-shakacode-deps/LICENSE
  swap-shakacode-deps/README.md
  swap-shakacode-deps/Rakefile
  swap-shakacode-deps/USAGE_EXAMPLES.md
  swap-shakacode-deps/bin/swap-shakacode-deps
  swap-shakacode-deps/lib/swap_shakacode_deps.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/cli.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/error.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/version.rb
  swap-shakacode-deps/swap-shakacode-deps.gemspec
Due: trailing-newline, rubocop

Clarify --github flag implementation status in documentation
  swap-shakacode-deps/README.md
  swap-shakacode-deps/USAGE_EXAMPLES.md
Due: trailing-newline

Correct TESTING_AND_NEXT_STEPS.md to reflect actual implementation status
  swap-shakacode-deps/TESTING_AND_NEXT_STEPS.md
Due: trailing-newline

Correct README to remove false file locking claim
  swap-shakacode-deps/IMPLEMENTATION_STATUS.md
  swap-shakacode-deps/README.md
Due: trailing-newline

Fix gemspec files glob to exclude directory entries
  swap-shakacode-deps/swap-shakacode-deps.gemspec
Due: none

Fix restore to only update actually-swapped gems, not all supported gems
  swap-shakacode-deps/lib/swap_shakacode_deps/gem_swapper.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/swapper.rb
Due: trailing-newline, rubocop

Add comprehensive implementation status documentation
  swap-shakacode-deps/IMPLEMENTATION_STATUS.md
Due: trailing-newline

Fix react_on_rails NPM package path mapping
  swap-shakacode-deps/lib/swap_shakacode_deps.rb
Due: trailing-newline, rubocop

Add security validations and error handling improvements
  swap-shakacode-deps-implementation-plan.md
  swap-shakacode-deps/lib/swap_shakacode_deps/gem_swapper.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/npm_swapper.rb
  swap-shakacode-deps/lib/swap_shakacode_deps/swapper.rb
Due: trailing-newline, rubocop

Add comprehensive RSpec test suite
  swap-shakacode-deps/.rspec
  swap-shakacode-deps/spec/backup_manager_spec.rb
  swap-shakacode-deps/spec/gem_swapper_spec.rb
  swap-shakacode-deps/spec/npm_swapper_spec.rb
  swap-shakacode-deps/spec/spec_helper.rb
Due: trailing-newline, rubocop

Remove stray call to undefined run_automated_tests method
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

Remove stray call to undefined run_automated_tests method (#60)
  lib/demo_scripts/demo_creator.rb
Due: trailing-newline, rubocop

Changes auto-committed by Conductor
  demos/basic-v16-webpack/lefthook.yml
Due: trailing-newline

Changes auto-committed by Conductor
  lefthook.yml
Due: trailing-newline

Update basic-v16-webpack demo to use shakapacker 9.0.0.beta.5
  .new-demo-versions
  demos/basic-v16-webpack/Gemfile
  demos/basic-v16-webpack/Gemfile.lock
  demos/basic-v16-webpack/Rakefile
  demos/basic-v16-webpack/app/controllers/hello_world_controller.rb
  demos/basic-v16-webpack/app/mailers/application_mailer.rb
  demos/basic-v16-webpack/bin/brakeman
  demos/basic-v16-webpack/bin/bundle
  demos/basic-v16-webpack/bin/dev
  demos/basic-v16-webpack/bin/rails
  demos/basic-v16-webpack/bin/rake
  demos/basic-v16-webpack/bin/rubocop
  demos/basic-v16-webpack/bin/setup
  demos/basic-v16-webpack/bin/shakapacker
  demos/basic-v16-webpack/bin/shakapacker-dev-server
  demos/basic-v16-webpack/bin/thrust
  demos/basic-v16-webpack/config.ru
  demos/basic-v16-webpack/config/application.rb
  demos/basic-v16-webpack/config/boot.rb
  demos/basic-v16-webpack/config/environment.rb
  demos/basic-v16-webpack/config/environments/development.rb
  demos/basic-v16-webpack/config/environments/production.rb
  demos/basic-v16-webpack/config/environments/test.rb
  demos/basic-v16-webpack/config/initializers/assets.rb
  demos/basic-v16-webpack/config/initializers/cypress_on_rails.rb
  demos/basic-v16-webpack/config/initializers/react_on_rails.rb
  demos/basic-v16-webpack/config/puma.rb
  demos/basic-v16-webpack/config/routes.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/activerecord_fixtures.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/clean.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/log_fail.rb
  demos/basic-v16-webpack/e2e/playwright/app_commands/scenarios/basic.rb
  demos/basic-v16-webpack/e2e/playwright/e2e_helper.rb
  demos/basic-v16-webpack/lib/tasks/e2e.rake
  demos/basic-v16-webpack/package-lock.json
  demos/basic-v16-webpack/package.json
  demos/basic-v16-webpack/test/test_helper.rb
Due: trailing-newline, rubocop
